<div class="ui text container segment" id="fileMenu">
    <div class="ui tree basic styled accordion">
        <ng-container *ngFor="let file of sessionFiles">
            <div class="title">
                <i class="dropdown icon"></i>
                <i class="file icon"></i>
                <span class="bold"> File: {{ file.filename }} </span>
                <div class="accordion-description-spacing description">
                    <div
                        *ngIf="file.rowsRemoved"
                        class="ui info mini message compact accordion-message">
                        <div class="header">
                            <i class="exclamation circle icon"></i
                            >{{ file.rowsRemoved }} rows removed
                        </div>
                        <p>because they contained NaN values.</p>
                    </div>
                    <br />
                    <app-button-new-subsample
                        buttonClasses="tiny tertiary"
                        filename="{{ file.filename }}">
                    </app-button-new-subsample>
                    <app-button-delete
                        buttonClasses="tiny tertiary"
                        type="file"
                        [filename]="file.filename">
                    </app-button-delete>
                </div>
            </div>
            <div class="content">
                <div class="basic styled accordion">
                    <ng-container
                        *ngFor="let subsampleTask of file.subsampleTasks">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            <i class="block layout icon"></i>
                            <span class="bold">
                                Subsample:
                                {{
                                    subsampleTask.timestamp * 1000
                                        | date : 'yyyy/MM/dd h:mm:ss a'
                                }}
                            </span>
                            <div
                                class="accordion-description-spacing description">
                                <app-button-show
                                    buttonClasses="tiny tertiary"
                                    path="subsampling/{{
                                        subsampleTask.subsampleTaskId
                                    }}">
                                </app-button-show>
                                <app-button-delete
                                    buttonClasses="tiny tertiary"
                                    type="subsample"
                                    [subsampleId]="
                                        subsampleTask.subsampleTaskId
                                    ">
                                </app-button-delete>
                                <app-button-share
                                    buttonClasses="tiny tertiary"
                                    path="subsampling/{{
                                        subsampleTask.subsampleTaskId
                                    }}"></app-button-share
                            ></div>
                        </div>
                        <div class="content">
                            <div class="ui list">
                                <ng-container
                                    *ngFor="
                                        let classificationTask of subsampleTask.classificationTasks
                                    ">
                                    <div class="item">
                                        <div
                                            class="content ui classification segment"
                                            [ngClass]="{
                                                'red tertiary inverted':
                                                    classificationTask.error
                                            }">
                                            <div class="header">
                                                <i class="crosshairs icon"></i>
                                                Classification:
                                                {{
                                                    classificationTask.timestamp *
                                                        1000
                                                        | date
                                                            : 'yyyy/MM/dd h:mm:ss a'
                                                }}</div
                                            >
                                            <div class="description">
                                                <app-button-show
                                                    buttonClasses="tiny tertiary"
                                                    path="subsampling/{{
                                                        subsampleTask.subsampleTaskId
                                                    }}/{{
                                                        classificationTask.classificationId
                                                    }}">
                                                </app-button-show>
                                                <app-button-delete
                                                    buttonClasses="tiny tertiary"
                                                    type="classification"
                                                    [subsampleId]="
                                                        subsampleTask.classificationId
                                                    ">
                                                </app-button-delete>
                                                <app-button-share
                                                    buttonClasses="tiny tertiary"
                                                    path="subsampling/{{
                                                        subsampleTask.subsampleTaskId
                                                    }}/{{
                                                        classificationTask.classificationId
                                                    }}"></app-button-share>
                                            </div>
                                            {{ classificationTask.progress }}
                                            <div
                                                class="ui bottom attached active progress"
                                                [attr.data-percent]="
                                                    classificationTask.progress *
                                                    100
                                                ">
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>
