<div class="ui modal" id="classification_modal">
  <i class="close icon"></i>
  <div class="header">
    Subsample parameters
  </div>

    <div class="content">
        <div class="description">
            <div class="ui header">Classification</div>
            <p>Train random forests on your subsampled data to assess the impact of adding more data to your train-dataset.</p>
            <p>For now, only binary classification problems are supported. Therefore, you will need to select a target column containing the labels as well as a target value.</p>
        </div>

        <form class="ui form">
            <div class="field">
                <label>Target Column</label>
                <div class="ui fluid search selection dropdown" id="targetColumnDropdown">
                    <input type="hidden" name="receipt">
                    <i class="dropdown icon"></i>
                    <div class="default text"></div>
                    <div class="menu">
                        <ng-container *ngFor="let col of categoricalFileColumns | keyvalue">
                            <div class="item" arrt.data-value="col" attr.data-text="col" >
                                {{ col.key }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

             <div class="field">
                <label>Target Value</label>
                <div class="ui fluid search selection dropdown" id="targetValueDropdown">
                    <input type="hidden" name="receipt">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select the target column first</div>
                    <div class="menu">
                        <ng-container *ngFor="let value of targetColumnValues">
                            <div class="item" arrt.data-value="value" attr.data-text="value" >
                                {{ value }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

        </form>

    </div>


    <div class="actions">
        <button class="ui black deny button">
        Close
        </button>
        <button class="ui positive right labeled icon button" (click)="classificationModalSuccess()">
        Start
        <i class="checkmark icon"></i>
        </button>
    </div>
</div>