<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
      <h1 class="ui inverted header">
        Subsampling
      </h1>
      <h2>...has never been easier!</h2>
      <input type="file" id="fileUpload" class="ui invisible file input" #fileInput (change)="onFileInput(fileInput.files)">
        <label for="fileUpload" class="ui primary icon button">
        <i class="file icon"></i>
        Upload a .tsv-file
        </label>
      <!-- <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div> -->
    </div>
  </div>
</div>

<ng-container *ngIf="sessionFiles.length > 0">
  <h1 class="ui center aligned header">Uploaded files</h1>
  <div class="ui text container segment">
      <div class="ui middle aligned divided list">
          <div class="item" *ngFor="let file of sessionFiles">
              <div class="right floated content">
                  <div class="ui primary button" *ngIf="sessionFilesSubsampled[file] !== undefined" (click)="openSubsamplingResult(sessionFilesSubsampled[file][0])">Show</div>
                  <div class="ui button" *ngIf="sessionFilesSubsampled[file] === undefined" (click)="openSubsampleModal(file)">Subsample</div>
                  <div class="ui red button">Delete</div>
              </div>
              <div class="content">
                  {{file}}
              </div>
          </div>
      </div>
  </div>
</ng-container>

<app-subsampling-modal [setFileName]="filename"></app-subsampling-modal>