<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Subsample parameters
  </div>

    <div class="content">
        <div class="description">
            <div class="ui header">Enter your parameters</div>
            <p>In order to subsample from your data, you ned to define some criteria such as the target column of your classification problem.</p>
            <p>Further, you can specify which features should be represented in similar distributions as in the original data to prevent a bias introduced by the subsampling procedure.</p>
        </div>

        <form class="ui form">
            <div class="field">
                <label>Target Column</label>
                <div class="ui fluid search selection dropdown" id="targetColumnDropdown">
                    <input type="hidden" name="receipt">
                    <i class="dropdown icon"></i>
                    <div class="default text"></div>
                    <div class="menu">
                        <ng-container *ngFor="let col of categoricalFileColumns | keyvalue">
                            <div class="item" arrt.data-value="col" attr.data-text="col" >
                                {{ col.key }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

             <!-- <div class="field">
                <label>Target Value</label>
                <div class="ui fluid search selection dropdown" id="targetValueDropdown">
                    <input type="hidden" name="receipt">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select the target column first</div>
                    <div class="menu">
                        <ng-container *ngFor="let value of targetColumnValues">
                            <div class="item" arrt.data-value="value" attr.data-text="value" >
                                {{ value }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div> -->

            <div class="field">
                <label>Keep ratio while subsampling</label>
                <div class="ui fluid multiple search selection dropdown" id="keepRatioColumnsDropdown">
                    <input type="hidden" name="receipt">
                    <i class="dropdown icon"></i>
                    <div class="default text"></div>
                    <div class="menu">
                        <ng-container *ngFor="let col of fileColumns">
                            <div class="item" arrt.data-value="col" attr.data-text="col" >
                            {{ col }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </form>

    </div>


    <div class="actions">
        <button class="ui black deny button">
        Close
        </button>
        <button class="ui positive right labeled icon button" (click)="subsampleModalSuccess()">
        Start
        <i class="checkmark icon"></i>
        </button>
    </div>
</div>