<div class="ui modal" id="subsampling_modal">
  <i class="close icon"></i>
  <div class="header">
    Subsample parameters
  </div>

    <div class="content">
        <div class="description">
            <div class="ui header">Enter your parameters</div>
            <p>In order to subsample from your data, you ned to define some criteria such as the target column of your classification problem.</p>
            <p>Further, you can specify which features should be represented in similar distributions as in the original data to prevent a bias introduced by the subsampling procedure.</p>
        </div>

        <form class="ui form">
            <div class="field">
                <label>Keep ratio while subsampling</label>
                <div class="ui fluid multiple search selection dropdown" id="keepRatioColumnsDropdown">
                    <input type="hidden" name="receipt">
                    <i class="dropdown icon"></i>
                    <div class="default text"></div>
                    <div class="menu">
                        <ng-container *ngFor="let col of fileColumns">
                            <div class="item" arrt.data-value="col" attr.data-text="col" >
                                {{ col }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="ui accordion"> <!-- styled fluid  -->
                <div class="title">
                    <i class="dropdown icon"></i>
                    Options
                </div>
                <div class="content">
                    <div class="field transition hidden">
                        <label>Number of subsamples</label>
                        <select class="ui selection dropdown" name="nRatios" [(ngModel)]="nRatios" (ngModelChange)="setRatioInput()" id="ratioInput">
                        </select>
                        <p>(translates to subsample sizes: {{ratios}})</p>
                    </div>

                    <div class="field transition hidden">
                        <label>Number of iterations (with different seeds)</label>
                        <select class="ui selection dropdown" name="nRandomStates" [(ngModel)]="nRandomStates" id="randomStatesInput">
                        </select>
                    </div>

                    <div class="field transition hidden">
                        <label>Test data ratio</label>
                        <input type="number" name="testRatio" max="1" min="0.0" step="0.1" [(ngModel)]="testRatio" />
                    </div>
                </div>
            </div>
        </form>

    </div>


    <div class="actions">
        <button class="ui black deny button">
        Close
        </button>
        <button class="ui positive right labeled icon button" (click)="subsampleModalSuccess()">
        Start
        <i class="checkmark icon"></i>
        </button>
    </div>
</div>